<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {%load static%}
        <link rel="stylesheet" href="{% static 'CSS/list.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <table class= "table" >
            
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Product Details</th>
            
        {% for product in products %}
    <tr>
    <td> {{product.name}} </td>
    <td> {{product.description}} </td>
    <td> {{product.price}} </td>
    <td>
        <a href="{% url 'edit_product_view' product.id %} "><button>Edit product</button></a>
        <a href="{% url 'products_detail_view' product.id %}"><button>View product</button></a> </td>
    </tr>
    {% endfor %}
        </table>
        
        <script src="" async defer></script>
    </body>
</html>






