
td, th{
    border: solid 1px black;
    padding: 10px;
    width: 10%;
}

button{
    height: 35px;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(186, 196, 253);
}